<h1>Editar Plan de suplemento</h1>
<%= render 'form', plansuplemento: @plansuplemento, url: update_plan_path %>
<br>
<%= link_to 'Regresar', index_plan_path(params[:paciente_id]), class: 'btn btn-info' %>
