<p id="notice"><%= notice %></p>

<h1 class="h3 mb-2 text-gray-800">Pacientes</h1>

<div class="card shadow mb-4">
  <div class="card-header py3">
    <h6 class="m-0 font-weight-bold text-primary">Informacion de Pacientes</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="responsive nowrap table table-hover" id="dttb-pacientes" data-sort="true" data-source="<%= url_for(format: :json)%>": >
        <thead>
        <tr>
          <th data-data="nombre">Nombre</th>
          <th data-data="paterno">Paterno</th>
          <th data-data="materno">Materno</th>
          <th data-data="sexo">Sexo</th>
          <th data-data="telefono">Telefono</th>
          <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px">Acciones</th>
        </tr>
        <thead>

      </table>
    </div>
  </div>

  <%= link_to 'Nuevo Paciente', new_paciente_path, class: 'btn btn-primary btn-icon-split btn-lg' %>

</div>
<br>
