<h1>Editing Suplemento</h1>

<%= render 'form', suplemento: @suplemento %>
<br>
<%= link_to 'Mostrar', @suplemento, class: 'btn btn-primary'%> |
<%= link_to 'Regresar', suplementos_path, class: 'btn btn-success'%>
