<h1>Suplementos</h1>

<div class="card shadow mb-4">
  <div class="card-header py3">
    <h6 class="m-0 font-weight-bold text-primary">Detalle de Suplementos</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="responsive nowrap table table-hover" id="dttb-suplementos" data-sort="true" data-source="<%= url_for(format: :json)%>">
        <thead>
          <tr>
                          <th data-data="nombre">Nombre</th>
                          <th data-data="marca">Marca</th>
                          <th data-data="formato">Formato</th>
                          <th data-data="peso_producto">Peso producto</th>
                          <th data-data="no_servicios">No servicios</th>
                          <th data-data="precio">Precio</th>
                          <th data-data="contenido">Contenido</th>
                          <th data-data="informacion">Informacion</th>
                        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px">Acciones</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <%= link_to 'Nuevo Suplemento', new_suplemento_path , class: 'btn btn-primary'%>
</div>
<br>

