<h1>Editar Problema</h1>

<%= render 'form', problema: @problema %>

<%= link_to 'Mostrar', [@consulta,@problema], class: 'btn btn-success' %> |
<%= link_to 'Regresar', consulta_problemas_path(@consulta), class: 'btn btn-info'%>
