<h1>Problemas</h1>

<div class="card shadow mb-4">
  <div class="card-header py3">
    <h6 class="m-0 font-weight-bold text-primary">Detalle de Problemas</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="responsive nowrap table table-hover" id="dttb-problemas" data-sort="true" data-source="<%= url_for(format: :json)%>">
        <thead>
          <tr>
                          <th data-data="diarrea">Diarrea</th>
                          <th data-data="nauseas">Nauseas</th>
                          <th data-data="obesidad">Obesidad</th>
                          <th data-data="estrenimiento">Estrenimiento</th>
                          <th data-data="gastritis">Gastritis</th>
                          <th data-data="vomito">Vomito</th>
                          <th data-data="insomnio">Insomnio</th>
                          <th data-data="ansiedad">Ansiedad</th>
                        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px">Acciones</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <%= link_to 'Nuevo Problema', new_problema_path , class: 'btn btn-primary'%>
</div>
<br>

