<h1>Pruebas</h1>

<table class="responsive nowrap table table-hover" id="dttb-pruebas" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="primer">Primer</th>
      <th data-data="segundo">Segundo</th>
      <th data-data="tercer">Tercer</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px">Acciones</th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'Nuevo Prueba', new_prueba_path , class: 'btn btn-primary' %>