<h1>Editar Actividad Fisica</h1>
<%= render 'form', actividad: @actividad, url: update_actividad_path %>
<%= link_to 'Regresar', index_actividad_path(params[:paciente_id]), class: 'btn btn-primary' %>
