<h1>Registro de Actividad fisica del paciente</h1>
<%= render 'form', actividad: @actividad, url: create_actividad_path %>
<%= link_to 'Regresar', index_actividad_path(params[:paciente_id]), class: 'btn btn-info' %>