<h1>Consultas</h1>

<div class="card shadow mb-4">
  <div class="card-header py3">
    <h6 class="m-0 font-weight-bold text-primary">Detalle de Consultas</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="responsive nowrap table table-hover" id="dttb-consultas" data-sort="true" data-source="<%= url_for(format: :json)%>">
        <thead>
          <tr>
                          <th data-data="nutriologo">Nutriologo</th>
                          <th data-data="paciente">Paciente</th>
                          <th data-data="signo">Signo</th>
                          <th data-data="problema">Problema</th>
                          <th data-data="anotaciones">Anotaciones</th>
                        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px">Acciones</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <%= link_to 'Nuevo Consulta', new_consulta_path , class: 'btn btn-primary'%>
</div>
<br>

