<h1>Editar Antecedentes Clinicos</h1>
<%= render 'form', antecedente: @antecedente, url: update_antecendete_path %>
<%= link_to 'Regresar', index_antecedente_path(params[:paciente_id], class: 'btn btn-info') %>
