<h1>Editar Biometria Hematica</h1>
<%= render 'form', biometria: @biometria, url: update_biometria_path %>
<%= link_to 'Regresar', index_biometria_path(params[:paciente_id]), class: 'btn btn-primary' %>
