<h1>Registro de Biometria Ematica</h1>
<%= render 'form', biometria: @biometria , url: create_biometria_path%>
<%= link_to 'Regresar', index_biometria_path(params[:paciente_id]), class: 'btn btn-info' %>